4th Year/1st Semester/UC 1 - Desenvolvimento Aplicações WEB/Aulas/PL01 - Especificação de DTDs. Queries em XPath/Especificação de DTDs/Ex. 2 - Agenda de Contactos/aggenda.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT agenda (entrada | grupo)* >

<!ELEMENT entrada (nome, email, telefone?) >
<!ELEMENT nome (#PCDATA) >
<!ELEMENT email (#PCDATA) >
<!ELEMENT telefone (#PCDATA) >

<!ELEMENT grupo (grupo | ref | entrada)* >

<!ELEMENT ref EMPTY>

<!ATTLIST  entrada
                ident ID #REQUIRED
                tipo  CDATA #REQUIRED>
<!ATTLIST grupo
                ident ID #REQUIRED>
<!ATTLIST ref
                apontado IDREF #REQUIRED>

 