4th Year/1st Semester/UC 1 - Desenvolvimento Aplicações WEB/Aulas/PL01 - Especificação de DTDs. Queries em XPath/Especificação de DTDs/Ex. 3 - Exames/exames.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT Exame (MetaInformacao, Corpo) >

<!ELEMENT MetaInformacao (#PCDATA) >

<!ELEMENT Corpo (Questao+) >
<!ELEMENT Questao (Enunciado, Alinea+) >
<!ELEMENT Alinea (#PCDATA) >
<!ATTLIST Alinea IDAlinea CDATA #REQUIRED >
<!ELEMENT Enunciado (#PCDATA | Imagem | Codigo | Tabela)* >
<!ELEMENT Imagem (#PCDATA) >
<!ELEMENT Codigo (#PCDATA) >
<!ELEMENT Tabela (#PCDATA) >
